<form>
    <div class="form-group">
        <label for="nome">*Nome </label>
        <input type="text" class="form-control" id="nome">
    </div>
    <div class="form-group">
        <label for="cpf">*CPF </label>
        <input type="text" class="form-control" id="cpf">
    </div>
    <div class="form-group">
        <label for="dataNascimento">*Data Nascimento </label>
        <input type="text" class="form-control" id="dataNascimento">
    </div>
    <div class="form-group">
        <label for="sexo">*Sexo </label>
        <select class="form-control" id="sexo">
            <option>feminino</option>
            <option>masculino</option>
        </select>
    </div>
    <div class="form-group">
        <label for="telefone">Telefone </label>
        <input type="text" class="form-control" id="telefone">
    </div>
    <div class="form-group">
        <label for="email">Email </label>
        <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="cep">CEP </label>
        <input type="text" class="form-control" id="cep">
    </div>
    <div class="form-group">
        <label for="logradouro">*Logradouro </label>
        <input type="text" class="form-control" id="logradouro">
    </div>
    <div class="form-group">
        <label for="complemento">Complemento </label>
        <input type="text" class="form-control" id="complemento">
    </div>
    <div class="form-group">
        <label for="bairro">*Bairro </label>
        <input type="text" class="form-control" id="bairro">
    </div>
    <div class="form-group">
        <label for="cidade">*Cidade </label>
        <input type="text" class="form-control" id="cidade">
    </div>
    <div class="form-group">
        <label for="uf">*UF </label>
        <input type="text" class="form-control" id="uf">
    </div>
</form>