<div class="row  mt-2">
    <div class="col-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
        <h2>Clientes</h2>
    </div>
    <div class="col-2">
        <a routerLink="/cliente-form" type="button" class="btn btn-secondary float-right mt-2">
            Adicionar cliente
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">

        <div *ngIf="listClientes.length === 0" class="alert alert-info" role="alert">
            Nenhum cliente cadastrado.
        </div>

        <!-- Tabela de clientes cadastrados -->
        <table *ngIf="listClientes.length > 0" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col" width="10%">Apagar</th>
                    <th scope="col" width="10%">Atualizar</th>
                    <th scope="col" width="10%">Informações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pessoa of listClientes">
                    <td>{{pessoa.cliente.nome}}</td>
                    <td>{{pessoa.cliente.cpf}}</td>
                    <td><button type="button" class="btn btn-danger">Excluir</button></td>
                    <td><button type="button" class="btn btn-success">Editar</button></td>
                    <td><a class="btn btn-primary" [routerLink]="['/detalhes', pessoa.cpf]">Detalhes</a></td>
                </tr>
            </tbody>
        </table>
        <!-- End Tabela -->
    </div>
</div>